.app {
  display: grid;
  height: calc(100vh);
  grid-template-rows: auto 1fr auto;
}

.content {
  display: grid;
  height: auto;
  grid-template-rows: 1fr auto;
}

div {
  color: #333;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

#docContainer {
  flex: 1 auto auto;
  background-color: gray;
  height: calc(100vh - 240px);
  width: 100vw;
  overflow-y: auto;
  overflow-x: none;
}
