.app {
  display: grid; 
  height: calc(100vh - 56px); 
  grid-template-rows: auto 1fr auto;
}

.content {
  display: grid;
  height: auto;
  grid-template-rows: 1fr auto;
}

div {
  color: #333;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

 